* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

header {
	background-color: #f1f1f1;
	width: 100%;
	height: 70px;
	margin-bottom: 30px;
	top: 0;
	display: flex;
	align-items: center;
}

.header-nav {
	margin: 0 0 0 auto;
	padding: 20px 3% 5px;
}

.header-menu {
	text-decoration: none;
	color: #4b4b4b;
}

header img {
	height: 70px;
}

.menu {
	display: flex;
	height: 2rem;
	margin: 0 auto;
}

.menu>li { /*親階層のみ指定*/
	margin: 0 0 0 15px;
	font-size: 14px;
}
/*全てのリスト・リンク共通*/
.menu li {
	list-style: none;
	position: relative;
}

.menu li a {
	display: block;
	height: 3rem;
	line-height: 2rem;
	text-align: center;
	text-decoration: none;
	width: 220px;
	padding: 10px;
}

.menu li a:hover {
	background: #dbdbdb;
}
/*子階層以降共通*/
.menu li li {
	height: 0;
	overflow: hidden;
	transition: .2s;
	background: #ffffff;
	z-index: 2;
}

.menu li li a {
	border-top: 1px solid #eee;
}

.menu li:hover>ul {
	display: block;
}

.menu li:hover>ul>li {
	height: 3rem;
	overflow: visible;
}