body {
  background-image: url("../images/elbooks_img1.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-color: #f1f1f1;
  width: 100%;
  height: 70px;
}

header img {
  height: 70px;
}

.contents-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.contents-form .item {
  margin-bottom: 10px;
}

.item-label {
  margin-bottom: 15px;
  color: #ffffff;
}

.form-input {
  width: 300px;
  height: 40px;
  margin-bottom: 15px;
}

.form-checkbox {
  color: #ffffff;
}

.form-button {
  text-align: right;
}

.form-button-login {
  padding: 5px 40px;
  background-color: #ff4f50;
  color: #ffffff;
  border-radius: 5%;
  border: 2px solid #ff4f50;
}

.form-button-login:hover {
  color: #ff4f50;
  background: #ffffff;
}
