.list {
    width: 100%;
}

.search_container{
    box-sizing: border-box;
}
.search_container input[type="text"]{
    background: #ccddf5;
    border: none;
    height: 35px;
}
.search_container input[type="text"]:focus {
    outline: 0;
}
.search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #3879D9;
    color: #fff;
    outline : none;
    width: 3.0em;
    height: 37px;
}


.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.item {
	 position:relative;
  border-radius: 10px;
 background: #edf;
  padding: 15px;
  text-align: center;
}


.bookimg{
	margin-left:12px;
	width:150px;
	height:210px;
}

.book{
	width:100%;
	height:100%;

}


img {
  max-width: 100%;
  height: auto;
}
.booklink{
	 display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
p {
  text-align: left;
  font-size:14px;

}



