/* 
更新日：2021/5/18
編集：オオヒラ
コメント：①headerをパーツ化したのでheaderタグを削除しました。
②navタグがヘッダーと干渉していたため、コメントアウトしています。
クラスで定義するなどして当てなおして欲しいです。
問題：headerのcssがうまく当たらない:解決
 */
/* body {
   background: #ffffff;
   width: 100%;
}
 */
/* h1 {
      position:relative;
      top: -45px;
      font-size: 2.2em;
}
 */
/* IEの対策？ */
 .selectdiv {
    position: relative;
    /* Don't really need this just for demo styling */
    float: left;
    min-width: 205px;
    margin: -85px 85%;
}

 /*  IE11 hide native button (thanks Matt!) */
 select::-ms-expand {
  display: none;
}

.selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /* Adjust for position however you want*/
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /* left line */

    position: absolute;
    pointer-events: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #dcdcdc;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
    font-weight: bold;
} 

/* 
nav ul {
      list-style-type: none;
      margin: -65px -13%;
}

nav li {
      display: inline;
      font-size: 19px;
      height: 20px;
      padding-left: 40px;
      padding-right: 5px;
}
nav {
    padding-left: 930px;
    font-weight: bold;
    width: 100%;
}

nav a {
      color:#000000;
      text-decoration: 500px;
} */
 


.userEntryModalButton{
	border: none;
    outline: none;
    background: transparent;

    position: relative;
    top:-70px;
}



table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table tr{
    border-bottom: solid 1px #eee;
    cursor: pointer;
}

table tr:hover{
    background-color: #d4f0fd;
}

table th,table td{
    text-align: center;
    width: 25%;
    padding: 15px 0;
}
 p{
    padding-left: 20px;
} 

span {
    margin-left: 5px;
    color: orange;
    font-size: 13px;
}

.Form-Item {
    color: #3b3b3b;
    margin-left: 30px;
    margin-right: 30px;
}

.Form-input-Item[type="text"] {
    margin-top: 12px;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    background-color: #f8f8f8;
    border: none;
}

.Form-input-Item[type="email"] {
    margin-top: 12px;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    background-color: #f8f8f8;
    border: none;
}

.Form-input-ItemEntry[type="password"] {
    margin-top: 12px;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    background-color: #f8f8f8;
    border: none;
    position:relative;
    top:-10px;
}

.Form-input-Item[type="password"] {
    margin-top: 12px;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    background-color: #f8f8f8;
    border: none;
}

.Entry-Button {
    width: 140px;
    height: 40px;
    float: right;
    text-align: center;
    background-color: #f55e61;
    color: white;
    border-radius: 3px;
    border: none;
    position:relative;
    top:-12px;
    left:-100px;
}

.Send-Button {
    width: 140px;
    height: 40px;
    float: right;
    text-align: center;
    background-color: #f55e61;
    color: white;
    border-radius: 3px;
    border: none;
    position:relative;
    top:-5px;
    left:50px;
}
.delete-Button {
    margin-right: 10px;
    width: 140px;
    height: 40px;
    float: right;
    text-align: center;
    background-color: limegreen;
    color: #3b3b3b;
    border-radius: 3px;
    border: none;
    position:relative;
    top:-30px;
    left:-260px;
}
 .inline-block {
    display: inline-block;
    padding: 0px;
    height: 20px;
    width: 40%;
    margin-top: 40px;
    margin-left: 10px;
} 