/* hedderのCSS */

body {
    background: #FFFFFF;
}

header {
    background: #DCDCDC;
    margin-top: 10px;
    margin-left: -5px;
    padding: 45px;
    padding-left: 19px;
}

h1 {
    margin-top: -20px;
    font-size: 2.2em;
}

.selectdiv {
    position: relative;
    /*Don't really need this just for demo styling*/
    float: left;
    min-width: 205px;
    margin: -85px 85%;
}


/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
    display: none;
}

.selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */
    position: absolute;
    pointer-events: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #DCDCDC;
    background-image: none;
    border: 1px solid #CCCCCC;
    -ms-word-break: normal;
    word-break: normal;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: -65px -13%;
}

nav li {
    display: inline;
    font-size: 19px;
    height: 20px;
    padding-left: 40px;
    padding-right: 5px;
}

nav {
    padding-left: 930px;
    font-weight: bold;
}

nav a {
    color: #000000;
    text-decoration: 500px;
}


/* /hedderのCSS */

h2 {
    color: #3b3b3b;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}

label {
    color: #3b3b3b;
    font-weight: bold;
}

p {
    color: #3b3b3b;
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 35px;
    font-size: 12px;
}

button {
    margin-top: 100px;
}

span {
    margin-left: 5px;
    color: orange;
    font-size: 13px;
}

.Form-Item {
    color: #3b3b3b;
    margin-left: 30px;
    margin-right: 30px;
}

.Form-input-Item[type="text"] {
    margin-top: 12px;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    background-color: #f8f8f8;
    border: none;
}

.Form-Item-Textarea[type="text"] {
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid #3b3b3b;
    border-radius: 4px;
    background-color: #f8f8f8;
    border: none;
}

.Send-Button {
    width: 140px;
    height: 40px;
    float: right;
    text-align: center;
    background-color: #f55e61;
    color: white;
    border-radius: 3px;
    border: none;
}

 :focus {
    outline: 2px solid #eea000;
    outline-offset: -1px;
}

.inline-block {
    display: inline-block;
    padding: 0px;
    height: 20px;
    width: 40%;
    margin-top: 40px;
    margin-left: 10px;
}

.inline-block2 {
    display: inline-block;
    padding: 0px;
    height: 20px;
    width: 80%;
}