<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>TestPages</h1>
<button type="button" class="btn btn-secondary" onclick="location.href='http://localhost:8080/sample_pages/login'">1.ログイン画面</button>
<button type="button" class="btn btn-secondary" onclick="location.href='http://localhost:8080/sample_pages/my_page'">2.マイページ</button>
<button type="button" class="btn btn-secondary" onclick="location.href='http://localhost:8080/sample_pages/modal'">3.モーダル</button>
<button type="button" class="btn btn-secondary" onclick="location.href='http://localhost:8080/sample_pages/book_history'">4.貸出リスト</button>
<button type="button" class="btn btn-secondary" onclick="location.href='http://localhost:8080/sample_pages/book_add'">5.書籍登録</button>
<button type="button" class="btn btn-secondary" onclick="location.href='http://localhost:8080/sample_pages/book_edit'">6.書籍編集</button>
<button type="button" class="btn btn-secondary" onclick="location.href='http://localhost:8080/sample_pages/user_register'">7.ユーザー登録</button>
<button type="button" class="btn btn-secondary" onclick="location.href='http://localhost:8080/sample_pages/user_edit'">8.ユーザー編集</button>
<button type="button" class="btn btn-secondary" onclick="location.href='http://localhost:8080/sample_pages/user_list'">9.ユーザー一覧</button>
<button type="button" class="btn btn-secondary" onclick="location.href='http://localhost:8080/sample_pages/header'">10.ヘッダー</button>
<button type="button" class="btn btn-secondary" onclick="location.href='http://localhost:8080/sample_pages/contact'">11.お問い合わせ</button>
<button type="button" class="btn btn-secondary" onclick="location.href='http://localhost:8080/sample_pages/contact_mgt'">12.お問い合わせ一覧</button>
</body>
</html>