<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="/pages/header :: meta_header('貸出履歴',~{::link},~{::script})">
<link rel="stylesheet" type="text/css" href="../css/bookAdd.css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
	crossorigin="anonymous"></script>
</head>

<body>
	<header th:replace=" /pages/header :: header"> </header>
	<main>
		<p class="fas fa-book-open text1">書籍編集</p>
		<form th:method="post" th:action="@{/books}" th:object="${book}"
			class="contents-form">
			<div class="item">
				<label class="item-label">書籍名</label><br> <input type="text"
					name="title" autocomplete="name" class="form-input">
			</div>
			<div class="item">
				<label class="item-label">著者名</label><br> <input type="text"
					name="author" autocomplete="current-password" class="form-input">

			</div>
			<p>カバー写真</p>
			<!--    <input type="submit" value="ファイルを選択">選択されていません -->
			<input type="file" name="file" accept="image/*">
			<div class="form-button">
				<input class="form-button-login" type="submit" value="登録する">
			</div>
		</form>
	</main>
</body>

</html>