<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/contact.css">
    <title>お問い合わせ一覧</title>
</head>
<body>
    <div class="Form">
        <p class="title"><i class="far fa-envelope"></i>お問い合わせ内容一覧</p>
    </div>
    <main>
		<table>
			<tr>
				<th>名前：</th>
				<th>メールアドレス：</th>
				<th>お問い合わせ内容</th>
			</tr>
			<tr th:each="list:${lists}">
				<td th:text="${list.user_name}"></td>
				<td th:text="${list.mail}"></td>
				<td th:text="${list.inquiry_contents}"></td>
			</tr>
		</table>
	</main>
</body>
</html>